body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
  padding-left: 10px;
}

a {
  color: seashell;
}

nav a {
  padding: 0px 15px;
}

h2, h4 {
  background-color: black;
  padding: 10px;
  margin: auto;
}

#mission {
  display: flex;
  position: relative;
  height: 700px;
  width: 1200px;
  padding-top: 72px;
  background-image: url("../images/img-mission-background.jpg");
  flex-direction: column;
  justify-content: center;
  z-index: 0;
}
